.container{
    width: 100%;
    max-width: $container_width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
$grid:12;
@for $i from 1 through  $grid {
   .colums-#{$i}{
    width: percentage($i / $grid );
    box-sizing: border-box;
    flex-grow: 0;
   }
}